<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <h1>Welcome</h1>
  <% if (studentData && studentData.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <% studentData.forEach((student, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p>No student data available.</p>
  <% } %>
</body>

</html>
